{% extends 'base.html' %}

{% block css %}
<style>
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 500px;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Bag'packers</h1>
            <hr>
            <div class="timeline">
                <dl>
                    {% for point in points %}
                    <dt>{{ point.lat }}, {{ point.long }}</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time"></div>
                        <div class="events">
                            <div class="events-body">
                                <h4 class="events-heading">Number of hotels:</h4>
                                <p></p>
                            </div>
                        </div>
                    </dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
        <div class="col-md-9">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script src="http://maps.google.com/maps/api/js?key=AIzaSyDwmcXaEzXe2oAt48NuaJx_Iqdlo6pT2Ys" type="text/javascript"></script>
<script>
    var hotels = {{ hotels|safe }};

    var locations = [];
    for (i = 0; i < hotels.length; i++) {
        locations.push([hotels[i][1], hotels[i][2], hotels[i][3]])
    }

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: new google.maps.LatLng(hotels[0][3], hotels[0][2]),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            customInfo: {name: hotels[i][1], price: hotels[i][4]}
        });
        google.maps.event.addListener(marker, 'click', function() {
            displayInfos(this.customInfo);
        });
    }

    function displayInfos(data) {
        alert("name : " + data.name + " - price: " + data.price)
    }
</script>
{% endblock %}
