@import url('https://fonts.googleapis.com/css?family=Lato');

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato' !important;
}

h1.cover-heading {
    font-size: 60px;
}
p.lead {
    margin-bottom: 50px;
    font-size: 2em;
}

.control-label {
    font-size: 1.4em;
}

.form-control {
    border-radius: 0;
    height: 50px;
    color: #1EB0A0;
    font-size: 1.4em;
}

.btn#search {
    display: block;
    margin: 20px auto;
    border-radius: 0;
    width: 300px;
}

#stop-origin {
    background-color: #8CC152;
}

#stop-destination {
    background-color: #DA4453;
}

.footer-logo, .footer-nav {
    height: auto;
    width: 25%;
}

.footer-nav .nav-title#hotel-price {
    font-size: 36px;
}
